</div>
<footer>
    <div>&copy; Copyright - Conestoga College </div>
</footer>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="js/tinymce/jquery.tinymce.min.js"></script>

<script src="js/tinymce/tinymce.min.js"></script>

<script>

    tinymce.init({

        selector: '#desc',

        height: 500,

        menubar: false

    });

</script>

</html>