<!-- Name : Rohit Thakur
Student Id : 8756601 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Tickets are Fire!</title>
</head>

<body>
    <div class="page-container">
        <div class="page-content">
            <header>
                <div>
                    <img src="pics/logo.png" alt="Brand logo">
                    <div>
                        <h1 class="align-center width100">If tickets are FIRE, we are firemen!</h1>
                    </div>
                </div>
            </header>