<%- include('shared/header.ejs') -%>
    <main>
        <h2>About</h2>
        <p> We are the best in the business! </p>
        <p> We are the ticket firemen! </p>
        <p> We put out the fery tickets! </p>


    </main>
    <%- include('shared/footer.ejs') -%>