<%- include('shared/header.ejs') -%>
    <%- include('admin/adminnav.ejs') -%>
        <main>

            <h1>Admin's Secret Home Page</h1>

        </main>

        <%- include('shared/footer.ejs') -%>