<%- include('shared/header.ejs') -%>
    <%- include('shared/nav.ejs') -%>
        <main>

            <h1>Generate New Tickets</h1>
            <form action="/process" method="post" enctype="multipart/form-data">
                <div class="form-field">
                    <label for="Name">Name</label>
                    <input type="text" id="Name" name="name">
                    <p class="error">

                    </p>
                </div>
                <div class="form-field">
                    <label for="Email">Email</label>
                    <input type="text" id="Email" name="email">
                    <p class="error">

                    </p>
                </div>
                <div class="form-field">
                    <label for="Image">Image</label>
                    <input type="file" id="Image" name="image">
                </div>
                <div class="form-field">
                    <label for="desc">Description</label>
                    <input type="text" id="desc" name="desc">
                    <p class="error">
                    </p>
                </div>
                <div class="submit">
                    <input type="submit" value="Generate ID!">
                </div>
            </form>

            <!-- 
        <div class="hero-image">
            <img src="pics/hero-image.png" alt="Hero image">
        </div>

        <div class="subheading">
            <h2>Our Services</h2>
            <div class="divider-h-lg"></div>
            <p>Treat yourself to one of our signature services. Our beloved beauty experts will wow your brows, get
                you glowing and so much more. You’ll leave looking and feeling better than ever before.</p>
        </div>
        <div class="grid-salon">
            <div class="salon-cell1">
                <div class="subheading">
                    <h3 class="hr-lines">Our Salon</h3>
                    <p class="p-dark">Suhag offers beauty services in GTA area for people who are looking
                        for quality and affordable beauty care.</p>
                    <p>Our Beauty Salon puts our customers' on a pedestal and leaves them satisfied with our
                        services.

                    </p>
                </div>
            </div>
            <div class="salon-cell2"> <img src="pics/salon2.jpg" alt="Salon image1"></div>
            <div class="salon-cell3"> <img src="pics/salon1.jpg" alt="Salon image2"></div>
            <div class="salon-cell4">
                <div class="subheading">
                    <h3 class="hr-lines">Our Responsibility</h3>
                    <p class="p-dark">Our team is responsibile and committed to provide quality service and build
                        lasting relationships
                        with customers.</p>
                    <p> Visit us now to get pampered and relax at Suhag Beauty Salon and Spa.
                    </p>
                </div>
            </div>
        </div>
        <div class="showcase-services">
            <div class="subheading">
                <h2>Our Services</h2>
                <div class="divider-h-lg"></div>
                <p>Treat yourself to one of our signature services. Our beloved beauty experts will wow your brows,
                    get
                    you glowing and so much more. You’ll leave looking and feeling better than ever before.</p>
            </div>
            <ul class="cards-container">
                <li class="card-service">
                    <img src="pics/service1.jpg" alt="">
                    <div>
                        <h4>Sking Care</h4>
                        <p>Get a new look to your hair with our professional haircut & hairstyling services.</p>
                        <div><button id="button1" onclick="readmoreService(this.id)">Read More..</button>
                        </div>
                    </div>
                </li>
                <li class="card-service">
                    <img src="pics/service2.jpg" alt="">
                    <div>
                        <h4>Hair Cutting & Styling</h4>
                        <p>Get a new look to your hair with our professional haircut & hairstyling services.</p>
                        <div>
                            <button id="button2" onclick="readmoreService(this.id)">Read More..</button>
                        </div>
                    </div>
                </li>
                <li class="card-service">
                    <img src="pics/service3.jpg" alt="">
                    <div>
                        <h4>Make-up</h4>
                        <p>Get a new look to your hair with our professional haircut & hairstyling services.</p>
                        <div>
                            <button id="button2" onclick="readmoreService(this.id)">Read More..</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div> -->




        </main>

        <%- include('shared/footer.ejs') -%>