<%- include('shared/header.ejs') -%>
    <%- include('shared/nav.ejs') -%>

        <main>
            <h1>Login</h1>
            <form action="adminLogin" method="POST">
                <div class="form-field">
                    <label for="userId">User Id</label>
                    <input type="text" id="userId" name="userId" />
                </div>
                <div class="form-field">
                    <label for="pass">Password</label>
                    <input type="pass" id="pass" name="pass" />
                </div>
                <div class="submit">
                    <input type="submit"></button>
                </div>
            </form>

            <p>
                <% if(typeof(error) !='undefined' ){ %>
                    <%= error %>
                        <% } %>
            </p>
        </main>

        <%- include('shared/footer.ejs') -%>