<%- include('shared/header.ejs') -%>
    <main>
        <h2>Thank You!</h2>
        <p>
            Your request has been successfully submitted.</p>
    </main>
    <%- include('shared/footer.ejs') -%>